
<div class="DivImageViewer" [id]="getId()" (click)="onSelected()" [style.border]="getBorderStyle()">
    <!--<div *ngIf="worklistService.isUsingLocalTestData() && imageData!== null && imageData.image !== null" style="width: 500px">
        <p>
            **************************************
            Name : {{imageData.image.series.study.patient.patientName}} | 
            AccNo : {{imageData.image.series.study.accessionNo}} | 
            Modality : {{imageData.image.series.modality}} | 
            ImageID : {{imageData.image.id}}
        </p>
    </div>-->
    <canvas [id]="getCanvasId()" #viewerCanvas class="viewerCanvas"></canvas>
</div>

<div #helpElement class="helpElement"></div>
