<div class="DivLayoutViewer" [id]="'DivLayoutViewer' + groupLayout.rowIndex + groupLayout.colIndex"
      (click)="onSelected()"
      [style.width]="groupLayout.width+'%'"
      [style.height]="groupLayout.height+'%'">
  <!--<tr *ngFor="let a of Arr(groupLayout.rowCountChild).fill(1); let rowIndex = index">
    <td *ngFor="let b of Arr(groupLayout.colCountChild).fill(1); let colIndex = index">

  <div class="div-flex-column" *ngFor="let a of Arr(groupLayout.colCountChild).fill(1); let colIndex = index">
      <app-image-viewer [imageLayout]="{
                      rowIndex:rowIndex, colIndex:colIndex,
                      rowIndexParent:groupLayout.rowIndex,
                      colIndexParent:groupLayout.colIndex, 
                      width:100,height:100}">
      </app-image-viewer>
    </div>
  </div>
</div>
