
.mat-dialog-title {
  color: #f90;
  font-size: 18px;
  padding: 1px 10px;
  margin:-24px -24px 0px -24px;
  border-bottom: 1px solid #FF9900;
  min-width: 400px;
}

.mat-dialog-content {
  color: white;
  font-size: 16px;
  padding: 10px 10px;
  min-width: 400px;
}

.mat-dialog-actions {
    margin-right: -12px;
}

.mat-form-field {
    min-width: 400px;
}

.mat-raised-button {
    border: 1px solid #777;
    border-radius: 3px;
    width: 100px;
    padding: 3px;
    margin-left: 6px;
}

.mat-raised-button:disabled:hover {
    color: #999;
}

.mat-raised-button:hover {
    color:#f90;
}

.mat-dialog-actions{
    flex-direction:row-reverse;
}

.matInput {
    color : green;
    caret-color: #F90;
}

.mat-input-element {
    caret-color: #F90;
}