<h5 mat-dialog-title>{{content.title}}</h5>


<mat-dialog-content [formGroup]="form">

  <i *ngIf="content.messageType === 0" class="glyphicon glyphicon-info-sign" style="padding-right:8px"></i>
  <i *ngIf="content.messageType === 1" class="glyphicon glyphicon-question-sign" style="padding-right:8px"></i>
  <i *ngIf="content.messageType === 2" class="glyphicon glyphicon-warning-sign" style="padding-right:8px;color:#F90"></i>
  <i *ngIf="content.messageType === 3" class="glyphicon glyphicon-remove" style="padding-right:8px;color:#F90"></i>
  <span style="color:white">{{content.messageText}}</span>


</mat-dialog-content>

<mat-dialog-actions>

  <button *ngIf="content.messageType === 1" class="mat-raised-button"
          (click)="onNo()">
    <i class="glyphicon glyphicon-remove-circle" style="padding-right:8px"></i>No
  </button>

  <button *ngIf="content.messageType === 1" class="mat-raised-button"
          (click)="onYes()">
    <i class="glyphicon glyphicon-ok-circle" style="padding-right:8px"></i>Yes
  </button>

  <button *ngIf="content.messageType !== 1" class="mat-raised-button"
          (click)="onOk()">
    <i class="glyphicon glyphicon-ok-circle" style="padding-right:8px"></i>Ok
  </button>

</mat-dialog-actions>
