.mat-dialog-title {
    border-bottom: 1px solid #FF9900;
    color: #f90;
    font-size: 18px;
    margin: -24px -24px 0px -24px;
    min-width: 400px;
    padding: 1px 10px;
}

.mat-dialog-content {
    color: white;
    font-size: 16px;
    /*height: 80px;*/
    min-width: 400px;
    padding: 10px 10px;
}

.mat-dialog-actions { margin-right: -12px; }

.mat-form-field { min-width: 400px; }

.mat-raised-button {
    background-color: #444;
    border: 1px solid #777;
    border-radius: 3px;
    color: white;
    margin-left: 6px;
    padding: 3px;
    width: 100px;
}

.mat-raised-button:disabled:hover { color: #999; }

.mat-raised-button:hover { color: #f90; }

.mat-dialog-actions { flex-direction: row-reverse; }

.matInput {
    caret-color: #F90;
    color: green;
}

.mat-input-element { caret-color: #F90; }

#span-message-text {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    min-width: 400px;
}