<h5 mat-dialog-title>Confirm Delete</h5>


<mat-dialog-content [formGroup]="form">

  <i class="glyphicon glyphicon-warning-sign" style="padding-right:8px;color:#F90"></i>
  <span style="color:white">Are you sure to delete this shortcut?</span>


</mat-dialog-content>

<mat-dialog-actions>

  <button class="mat-raised-button"
          (click)="save()">
    <i class="glyphicon glyphicon-remove" style="padding-right:8px"></i>No
  </button>

  <button class="mat-raised-button"
          (click)="close()">
    <i class="glyphicon glyphicon-ok" style="padding-right:8px"></i>Yes
  </button>

</mat-dialog-actions>
