.query, .queryClear, .querySave {
    border: none;
    height: 30px;
    outline: none;
    width: 100px;
}

.query { background: url(../../../../assets/img/button/Query_All.png) no-repeat left top; }

.query:hover { background: url(../../../../assets/img/button/Query_All.png) no-repeat right top; }

.query:active { background: url(../../../../assets/img/button/Query_All.png) no-repeat right bottom; }

.queryClear { background: url(../../../../assets/img/button/ClearCondition_All.png) no-repeat left top; }

.queryClear:hover { background: url(../../../../assets/img/button/ClearCondition_All.png) no-repeat right top; }

.queryClear:active { background: url(../../../../assets/img/button/ClearCondition_All.png) no-repeat right bottom; }

.querySave { background: url(../../../../assets/img/button/Query_Save.png) no-repeat left top; }

.querySave:hover { background: url(../../../../assets/img/button/Query_Save.png) no-repeat right top; }

.querySave:active { background: url(../../../../assets/img/button/Query_Save.png) no-repeat right bottom; }