.DivImageViewer
{
  display:flex;
  flex: 1;
  /*border-top: solid 2px #FFFFFF;
  border-bottom: solid 2px #FFFFFF;
  border-left: solid 2px #FFFFFF;
  border-right: solid 2px #FFFFFF;*/
  border: 2px solid #CCCCCC;
  background-color: #000000;
  color: #F5F5F5;
}