.DivImageViewer
{
  display:block;
  float:left;
  width: 200px;
  margin:0 auto;
  /*border-top: solid 2px #FFFFFF;
  border-bottom: solid 2px #FFFFFF;
  border-left: solid 2px #FFFFFF;
  border-right: solid 2px #FFFFFF;*/
  border: 2px solid #CCCCCC;
  height: 300px;
  background-color: #000000;
  color: #F5F5F5;
}