.DivToolbar {
    background-color: black;
    color: #F5F5F5;
    display: block;
    height: 40px;
    margin: 0 auto;
    padding: 12px 12px 12px 12px;
    width: 100%;
}

.DivViewerBack {
    background-color: black;
    color: #F5F5F5;
    display: flex;
    height: 100%;
    margin: 0 auto;
    padding: 1px;
    width: 100%;
}

.DivOperationBar {
    background-color: black;
   
    bottom: 0;
    color: #F5F5F5;
    display: block;
    height: 40px;
    margin: 2px auto;
    position: fixed;
    width: 100%;
}

/*#DivLeft
{
  display:block;
  float:left;
  width:200px;
  margin:0 auto;
  height: 650px;
  padding: 12px 12px 12px 16px;
  border-bottom: solid 4px #FFFFFF;
  border-right: solid 4px #FFFFFF;
  background-color: #000000;
  color: #F5F5F5;
}

#DivRight
{
  display:block;
  float:left;
  width:744px;
  margin:0 auto;
  height: 650px;
  padding: 12px 12px 12px 16px;
  border-bottom: solid 4px #FFFFFF;
  background-color: #000000;
  color: #F5F5F5;
}*/


#divContainer {
    bottom: 0px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 40px;
    border-bottom: 2px solid #666;
}

#panelStudyDash {
    background-color: #808080;
    border: none;
    margin: 0px;
    padding: 5px 10px;
    visibility: visible;
}

#panelStudyDash button {
    border: none;
    height: 30px;
    outline: none;
    width: 100px;
}

#panelStudyDash .save-query {
    cursor: pointer;
    float: right;
}

#panelStudyDash .checkbox {
    margin-left: 5px;
    margin-right: 5px;
}

#panelStudyDash #statusLabel { margin: 0px; }

#divStudies {
    margin-bottom: 0px;
    min-height: 200px;
    position: static;
    width: 100%;
}

/*#divStudies::-webkit-scrollbar{
    width:16px;
    background-color:black;
}

#divStudies::-webkit-scrollbar-thumb{
    background-color:#535353;
    border-radius: 10px;
}*/

@media (min-width: 768px) {    
    #panelStudyDash .checkbox { top: -2px; }

    #panelStudyDash .checkbox label input { top: 2px; }
}

@media (max-width: 768px) {
    #divStudies {
        border: none;
        left: 1px;
        position: absolute;
        right: 1px;
        top: 42px;
        visibility: visible;
    }

    #panelStudyDash {
        left: 1px;
        padding: 5px 2px;
        position: absolute;
        right: 1px;
        visibility: visible;
    }

    #panelStudyDash .form-group, .checkbox, button {
        display: inline-block;
        margin: 0px;
    }

    #panelStudyDash #statusLabel { display: none; }

    #panelStudyDash .save-query { display: none; }

    #panelStudyDash .checkbox {
        margin-left: 5px;
        margin-right: 5px;
        top: -10px;
    }

    .sp_panel-container, .sp_panel-left, .sp_panel-right {
        visibility: hidden;
        z-index: 0;
    }
}

#queryTree .node-queryTree { padding: 2px 2px; }

.query { background: url(../../../assets/img/button/Query_All.png) no-repeat left top; }

.query:active { background: url(../../../assets/img/button/Query_All.png) no-repeat right top; }

.queryClear { background: url(../../../assets/img/button/ClearCondition_All.png) no-repeat left top; }

.queryClear:active { background: url(../../../assets/img/button/ClearCondition_All.png) no-repeat right top; }

/* horizontal panel*/

.sp_panel-container {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    /* avoid browser level touch actions */
    /*xtouch-action: none;*/
}

.sp_panel-left {
    -ms-overflow-style: none;
    /*min-width: 1px;*/
    /*white-space: nowrap;*/
    background: #07090c;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    min-height: 200px;
    overflow: -moz-hidden-unscrollable;
    overflow-x: hidden;
    overflow-y: auto;
    /* only manually resize */
    padding: 6px;
    width: 200px;
    /*color: white;*/
}

.sp_panel-left::-webkit-scrollbar { display: none; }

.sp_splitter {
    background: url(../../../assets/img/button/split_vertical_collapse.jpg) center center no-repeat #535353;
    cursor: pointer;
    flex: 0 0 auto;
    min-height: 200px;
    width: 8px;
}

.sp_panel-right {
    background: black;
    flex: 1 1 auto;
    min-height: 200px;
    min-width: 200px;
    /* resizable */
    padding-bottom: 80px;
    width: 100%;
}


/* vertical panel */

.sp_panel-container-vertical {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sp_panel-top {
    flex: 0 0 auto;
    /* only manually resize */
    /*padding: 10px;*/
    height: 70%;
    min-height: 300px;
    overflow-y: auto;
    width: 100%;
    /*white-space: nowrap;
  background: #838383;
  color: white;*/
    z-index: 0;
}

.sp_splitter-horizontal {
    background: url(../../../assets/img/button/split_horizontal_collapse.jpg) center center no-repeat #535353;
    cursor: pointer;
    flex: 0 0 auto;
    height: 8px;
    z-index: 2;
}

.sp_panel-bottom {
    flex: 1 1 auto;
    /* resizable */
    /*padding: 10px;*/
    min-height: 200px;
    overflow-y: auto;
    /*background: #eee;*/
    z-index: 1;
}

.navbar-right { padding-right: 10px; }

.sp_panel-right .table { white-space: nowrap; }

#trStudiesHeader a { color: black; }

#trSeriesHeader a { color: black; }

#trStudiesQuery input[type=text] {
    vertical-align: middle;
    width: 100%;
}

#trStudiesQuery select { width: 100%; }

#trStudiesQuery td:nth-child(n + 2) {
    margin: 0px;
    padding: 1px;
    vertical-align: middle;
}

#trStudiesQuery .dropdown .btn {
    min-width: 70px;
    padding: 1px 6px;
}

#leftPanelTop { flex: 1 1 auto; }

#leftPanelBottom {
    flex: 0 0 auto;
    height: 20%;
}

#formUploadImage input[type=file] { width: 600px; }

#tblSeries td:nth-child(1) { text-align: center; }

#tblSeries img {
    height: 50px;
    margin: auto;
    width: 50px;
}
