<div [style.visibility]="viewerShellData.hide? 'hidden' : 'visible'" id="divContainer" class="sp_panel-container">
    <div class="sp_panel-left">
        <app-navigation [viewerShellData]="viewerShellData" (layout)="onChangeGroupLayout($event)"></app-navigation>
    </div>

    <div class="sp_splitter">
    </div>

    <div class="sp_panel-right">
        <div class="DivToolbar">
            <app-viewer-toolbar></app-viewer-toolbar>
        </div>

        <div class="DivViewerBack">
            <div class="div-flex-column" *ngFor="let b of Arr(viewerShellData.groupMatrix.colCount).fill(1); let colIndex = index">
                <div class="div-flex-row" *ngFor="let a of Arr(viewerShellData.groupMatrix.rowCount).fill(1); let rowIndex = index">
                    <app-group-viewer [groupData]="getGroupData(rowIndex, colIndex)" class="div-flex-row">
                    </app-group-viewer>
                </div>
            </div>
        </div>
        
        <div class="DivOperationBar">
            <app-viewer-bottombar (save)="onSaveImage($event)" [pageIndex]="pageIndex" [pageCount]="pageCount" (navigateGroup)="onNavigateGroup($event)"></app-viewer-bottombar>
        </div>

    </div>
</div>
