<?xml version="1.0" encoding="utf-8"?>
<Marker>
  <group1 display="Favorites" page="1">
    <row1 row="1">
      <item1 column="1" display="A" imagename="A.PNG" />
      <item2 column="2" display="CC" imagename="CC.PNG" />
    </row1>
    <row2 row="2">
      <item1 column="1" display="AXIAL" imagename="AXIAL.PNG" />
    </row2>
    <row3 row="3">
      <item1 column="1" display="CEPHALOMETRIC" imagename="CEPHALOMETRIC.PNG" />
    </row3>
  </group1>
</Marker>