.thumbnail {
    background-color: black;
    border: solid 1px #888;
    height: 70px;
    margin-right: 4px;
    overflow: hidden;
    padding: 2px;
    width: 70px;
}

.thumbnail:hover { border: solid 2px #F90; }


.img {
    background-color: black;
    height: 70px;
  
    margin-right: 4px;
    overflow: hidden;
    width: 70px;
}
