.saveImage {
    border: none;
    height: 40px;
    outline: none;
    width: 60px;
}

.prevGroup, .nextGroup {
    border: none;
    height: 34px;
    outline: none;
    width: 34px;
}

.saveImage { background: url(../../../../assets/img/button/Save_60_40_All.png) no-repeat left top; }
.saveImage:hover { background: url(../../../../assets/img/button/Save_60_40_All.png) no-repeat right top; }
.saveImage:active { background: url(../../../../assets/img/button/Save_60_40_All.png) no-repeat left bottom; }
.saveImage:disabled { background: url(../../../../assets/img/button/Save_60_40_All.png) no-repeat right bottom; }

.prevGroup { background: url(../../../../assets/img/button/left_all.png) no-repeat left top; }
.prevGroup:hover { background: url(../../../../assets/img/button/left_all.png) no-repeat right top; }
.prevGroup:active { background: url(../../../../assets/img/button/left_all.png) no-repeat right bottom; }
.prevGroup:disabled { background: url(../../../../assets/img/button/left_all.png) no-repeat left bottom; }

.nextGroup { background: url(../../../../assets/img/button/right_all.png) no-repeat left top; }
.nextGroup:hover { background: url(../../../../assets/img/button/right_all.png) no-repeat right top; }
.nextGroup:active { background: url(../../../../assets/img/button/right_all.png) no-repeat right bottom; }
.nextGroup:disabled { background: url(../../../../assets/img/button/right_all.png) no-repeat left bottom; }