<h1 mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle>
    Delivery Status
</h1>
<mat-dialog-content>
    <mat-list>
        <table class="table-list-style">
            <tr>
                <th>Delivery Status</th>
                <th>Name</th>
                <th>Patient ID</th>
                <th>Created Date</th>
                <th>Type</th>
                <th>Image Count</th>
                <th>Delivery Name</th>
                <th>Destination</th>
                <th>Finished Number</th>
                <th>Success Number</th>
                <th>Compression Ratio</th>
            </tr>
            <tr *ngFor="let transferJob of transferJobList" [className]="transferJob == selectedTransferJob ? 'selected-row' : 'unselected-row'" (click)="onTransferJobRowClicked(transferJob)">
                <td>
                    {{transferJob.deliveryStatus}}
                </td>
                <td>
                    {{transferJob.patientName}}
                </td>
                <td>
                    {{transferJob.patientId}}
                </td>
                <td>
                    {{transferJob.createdDate}}
                </td>
                <td>
                    {{transferJob.type}}
                </td>
                <td>
                    {{transferJob.imageCount}}
                </td>
                <td>
                    {{transferJob.deliveryName}}
                </td>
                <td>
                    {{transferJob.destination}}
                </td>
                <td>
                    {{transferJob.finishedNumber}}
                </td>
                <td>
                    {{transferJob.successNumber}}
                </td>
                <td>
                    {{transferJob.compressionRatio}}
                </td>
            </tr>
        </table>
        <div id="button-content">
            <table>
                <tr>
                    <td>
                        <button class="resume-btn image-btn" role="button" title="Resume" (click)="onResumeClicked()" [disabled]="selectedTransferJob.deliveryStatus != 'PAUSED'"></button>
                    </td>
                    <td>
                        <button class="pause-btn image-btn" role="button" title="Pause" (click)="onPauseClicked()" [disabled]="selectedTransferJob.deliveryStatus != 'FRESH'"></button>
                    </td>
                    <td>
                        <button class="cancel-btn image-btn" role="button" title="Cancel" (click)="onCancelTransferClicked()" [disabled]="selectedTransferJob.deliveryStatus != 'FRESH'"></button>
                    </td>
                    <td>
                        <button class="resend-btn image-btn" role="button" title="Resend" (click)="onResendClicked()" [disabled]="selectedTransferJob.deliveryStatus != 'FAILURE'"></button>
                    </td>
                    <td>
                        <button class="delete-btn image-btn" role="button" title="Delete" (click)="onDeleteClicked()" [disabled]="selectedTransferJob.deliveryStatus == 'PROCESSING'"></button>
                    </td>
                    <td>
                        <button class="refresh-btn image-btn" role="button" title="Refresh" (click)="onRefreshClicked()"></button>
                    </td>
                </tr>
            </table>

        </div>
        <br>
        <br>
        <br>
        <mat-divider></mat-divider><br>
        <table class="table-list-style">
            <tr>
                <th>Item No</th>
                <th>Type</th>
                <th>Patient ID</th>
                <th>Name</th>
                <th>Execute Status</th>
                <th>Execute Time</th>
            </tr>
            <tr *ngFor="let transferJobItem of transferJobItemList">
                <td>
                    {{transferJobItem.itemNo}}
                </td>
                <td>
                    {{transferJobItem.type}}
                </td>
                <td>
                    {{transferJobItem.patientId}}
                </td>
                <td>
                    {{transferJobItem.name}}
                </td>
                <td>
                    {{transferJobItem.executeStatus}}
                </td>
                <td>
                    {{transferJobItem.executeTime}}
                </td>
            </tr>
        </table>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="onCancelClick()">
        <i class="glyphicon glyphicon-remove-circle" style="padding-right: 8px"></i>Close
    </button>
</mat-dialog-actions>
