<div [hidden] ="hideMe" id="divContainer" class="sp_panel-container">

  <div class="sp_panel-left">
    <div id="leftPanelTop">
      <div id="queryTree">
        <app-query-shortcut (selected)="onSelected($event)"></app-query-shortcut>
      </div>
    </div>
    <div class="leftPanelBottom">
      <a>Upload DCM files...</a>
    </div>
  </div>

  <div class="sp_splitter">
  </div>

  <div class="sp_panel-right">
    <app-worklist [shortcut]="selectedShortcut" [test]="selectedShortcut"></app-worklist>
  </div>

</div>


