.prevImage, .playVideo, .pauseVideo, .nextImage, .stopVideo {
    border: none;
    height: 30px;
    outline: none;
    width: 30px;
    background-repeat: no-repeat; 
    background-size: 100% auto;
    padding-left: 10px;
}

.prevImage { background-image: url(../../../../assets/img/button/Prev_image.bmp); }
.playVideo { background-image: url(../../../../assets/img/button/playBlue.png); }
.pauseVideo { background-image: url(../../../../assets/img/button/pauseBlue.png); }
.stopVideo { background-image: url(../../../../assets/img/button/stopBlue.png); }
.nextImage { background-image: url(../../../../assets/img/button/Next_image.bmp); }

.prevImage:hover, .playVideo:hover, .pauseVideo:hover, .nextImage:hover, .stopVideo:hover{
    border: 1px solid #F90;
}

.prevImage:disabled, .playVideo:disabled, .pauseVideo:disabled, .nextImage:disabled, .stopVideo:disabled{
    border: none;
}

.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #F90; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 20px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #F90; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

#table, tr, td {
    padding-left: 5px;
}

select {
    background-color: black;
    border: 1px solid #444;
    width: 100%;
}

/*select, option:hover { 
    background-color: #F90; 
    color: #fff; 
}*/ 