<div class="container-fluid">
  <div class="navbar-header">
    <tr>
      <td>
        <div class="navbar-brand" href="#">
          <img src="../../../img/Carestream.svg">
        </div>
      </td>
      <td>
        <div class="product-name">ImageViewPacs</div>
      </td>
      <td>
        <button class="nav-button" (click)="showViewerShell(null)">Worklist</button>    
      </td>
	  <td *ngFor="let openedViewerShell of getOpenedViewerShellList()">
		<div class="nav-button">
			<button [id]="'headerButton' + openedViewerShell.getId()" class="div-headerbar-button" (click)="showViewerShell(openedViewerShell)">{{openedViewerShell.getName()}}</button>
      <button class="div-headerbar-button" (click)="closeViewerShell(openedViewerShell)">x</button>
		</div>
	  </td>
    </tr>
    
  </div>
</div>
