<div class="container-fluid">
  <div class="navbar-header">
    <tr>
      <td>
        <div class="navbar-brand" href="#">
          <img src="../../../img/Carestream.svg">
        </div>
      </td>
      <td>
        <div class="product-name">ImageViewPacs</div>
      </td>
      <td>
        <button class="nav-button" (click)="showStudy(null)">Worklist</button>    
      </td>
	  <td *ngFor="let study of openedStudies">
		<div class="nav-button">
			<button [id]="'headerButton' + study.studyInstanceUid" class="div-headerbar-button" (click)="showStudy(study)">{{study.patient.patientId}}_{{study.patient.patientName}}</button>
      <button class="div-headerbar-button" (click)="closeStudy(study)">x</button>
		</div>
	  </td>
    </tr>
    
  </div>
</div>
