<div class="container-fluid">
  <div *ngFor="let patient of viewerShellData.patientList" class="row patient-div">
    <div class="patient-header">
      <div>
        <button class="patient-button" (click)="onClickPssi(patient)" title="Toggle to show/hide patient images"></button>
      </div>
      <table class="patient-info">
        <tr>{{patient.patientName}}</tr>
        <tr>{{patient.patientId}}</tr>
      </table>
    </div>
    <div *ngFor="let study of patient.studyList"
         [style.visibility]= "getPssiVisibility(patient)" [style.height]="getPssiHeight(patient)">
      <div class="study-header">
        <div>
          <button class="study-button" (click)="onClickPssi(study)" title="Toggle to show/hide study images"></button>
        </div>
        <table class="study-info">
          <tr>{{study.studyDateString}}</tr>
          <tr>{{study.studyDesc}}</tr>
        </table>
      </div>
      <div *ngFor="let series of study.seriesList"
           [style.visibility]= "getPssiVisibility(study)" [style.height]="getPssiHeight(study)">
        <div class="series-header">
          <div>
            <button class="series-button" (click)="onClickPssi(series)" title="Toggle to show/hide series images"></button>
          </div>
          <table class="series-info">
            <tr>{{series.modality}}</tr>
            <tr>{{series.imageCount}} image</tr>
          </table>
        </div>
        <!--<div class="image-list" [style.visibility]="getPssiVisibility(series)" [style.height]="getPssiHeight(series)">
          <table >
            <tr *ngFor="let a of Arr(getThumbnailListRowCount(series)).fill(1); let imageIndex = index">
              <td><app-thumbnail [image]="series.imageList[imageIndex*2]"></app-thumbnail></td>
              <td *ngIf="imageIndex*2+1 < series.imageList.length"><app-thumbnail [image]="series.imageList[imageIndex*2+1]"></app-thumbnail></td>
            </tr>
          </table>
        </div>-->
        <div *ngFor="let a of Arr(getThumbnailListRowCount(series)).fill(1); let imageIndex = index"
             [style.visibility]= "getPssiVisibility(series)" [style.height]="getPssiHeight(series)">
          <div class="image-button">
            <app-thumbnail [image]="series.imageList[imageIndex*2]"></app-thumbnail>
            <app-thumbnail *ngIf="imageIndex*2+1 < series.imageList.length" [image]="series.imageList[imageIndex*2+1]"></app-thumbnail>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>