#main-nav { margin-left: 1px; }

.hangingProtocol-div {
    background-color: #333;
    border-radius: 2px;
    height: 44px;
    margin-bottom: 3px;
    padding: 2px;
}

/*.open>.hangingProtocol-menu {
    display: block;
}*/

li.dropdown.open {
    margin: -20px 0 0;
    width: 44px;
}

li.dropdown {
    margin: -20px 0 0;
    width: 44px;
}

.hangingProtocol-menu {
    background-color: #333;
    margin: -24px 0 0;
    min-width: 40px;
    padding-bottom: 0;
}

.hangingProtocol-menu-button {
    background-color: #333;
    border: none;
    height: 40px;
    outline: none;
    width: 40px;
}

.patient-div {
    background-color: #333;
    border-radius: 2px;
    margin-bottom: 3px;
    padding: 2px;
}

.patient-header {
    background-color: #555555;
    border: solid 1px #333;
    border-radius: 3px;
    color: white;
    display: flex;
    height: 48px;
    padding: 4px;
    width: 184px;
}

.patient-header:hover { color: #F90; }

.patient-header:hover .patient-button { background: url(../../../../assets/img/DicomViewer/Patient_N2.gif) no-repeat left top; }

.patient-header:hover .patient-button:active { background: url(../../../../assets/img/DicomViewer/Patient_N3.gif) no-repeat left top; }

.patient-button {
    background: url(../../../../assets/img/DicomViewer/Patient_N1.gif) no-repeat left top;
    border: none;
    height: 40px;
    outline: none;
    width: 40px;
}

.patient-info {
    height: 40px;
    margin-left: 6px;
    width: 100%;
}

.study-header {
    background-color: #555555;
    border: solid 1px #333;
    border-radius: 3px;
    color: white;
    display: flex;
    height: 48px;
    margin-left: 10px;
    padding: 4px;
    width: 174px;
}

.study-header:hover { color: #F90; }

.study-header:hover .study-button { background: url(../../../../assets/img/DicomViewer/Study_N2.gif) no-repeat left top; }

.study-header:hover .study-button:active { background: url(../../../../assets/img/DicomViewer/Study_N3.gif) no-repeat left top; }

.study-button {
    background: url(../../../../assets/img/DicomViewer/Study_N1.gif) no-repeat left top;
    border: none;
    height: 40px;
    outline: none;
    width: 40px;
}

.study-info {
    height: 40px;
    margin-left: 6px;
    overflow: hidden;
    width: 100%;
}

.series-header {
    background-color: #555555;
    border: solid 1px #333;
    border-radius: 3px;
    color: white;
    display: flex;
    height: 48px;
    margin-left: 20px;
    padding: 4px;
    width: 164px;
}

.series-header:hover { color: #F90; }

.series-header:hover .series-button { background: url(../../../../assets/img/DicomViewer/Series_N2.gif) no-repeat left top; }

.series-header:hover .series-button:active { background: url(../../../../assets/img/DicomViewer/Series_N3.gif) no-repeat left top; }

.series-button {
    background: url(../../../../assets/img/DicomViewer/Series_N1.gif) no-repeat left top;
    border: none;
    height: 40px;
    outline: none;
    width: 40px;
}

.series-info {
    height: 40px;
    margin-left: 6px;
    width: 100%;
}

.image-list {
    background-color: #555555;
    border: solid 1px #333;
    border-radius: 3px;
    color: white;
    margin-left: 30px;
    padding: 4px;
    width: 154px;
}

.image-button {
    background-color: #555;
    border: solid 1px #333;
    border-radius: 3px;
    color: white;
    display: flex;
    height: 80px;
    margin-left: 30px;
    padding: 4px;
    width: 154px;
}
