Layout:
<button class="image-button" (click)="createGroupLayoutMatrix(1)">By Patient</button>
<button class="image-button" (click)="createGroupLayoutMatrix(2)">By Study</button>
<button class="image-button" (click)="createGroupLayoutMatrix(3)">By Series</button>
<button class="image-button" (click)="createGroupLayoutMatrix(11)">1 X 1</button>
<button class="image-button" (click)="createGroupLayoutMatrix(12)">1 X 2</button>
<button class="image-button" (click)="createGroupLayoutMatrix(21)">2 X 1</button>
<button class="image-button" (click)="createGroupLayoutMatrix(22)">2 X 2</button>
<button class="image-button" (click)="createGroupLayoutMatrix(33)">3 X 3</button>


SubLayout:
<button class="image-button" (click)="doSplitSubLayout(11)">1 X 1</button>
<button class="image-button" (click)="doSplitSubLayout(12)">1 X 2</button>
<button class="image-button" (click)="doSplitSubLayout(21)">2 X 1</button>
<button class="image-button" (click)="doSplitSubLayout(22)">2 X 2</button>
<button class="image-button" (click)="doSplitSubLayout(32)">3 X 2</button>
<button class="image-button" (click)="doSplitSubLayout(23)">2 X 3</button>
<button class="image-button" (click)="doSplitSubLayout(33)">3 X 3</button>