.DivLayoutViewer {
    background-color: #555555;
    /*border-top: solid 2px #FFFFFF;
  border-bottom: solid 2px #FFFFFF;
  border-left: solid 2px #FFFFFF;
  border-right: solid 2px #FFFFFF;*/
    border: 1px solid #555555;
    color: #F5F5F5;
    display: flex;
    height: 100%;
    margin: 0 auto;
    width: 100%;
}
