#tblStudies a {
    color: white;
}


/*#tblStudies {
    border: 1px solid black;
    table-layout: fixed;
}

th,
td {
    border: 1px solid black;
    width: 100px;
    overflow: hidden;
    min-width:200px;
}*/

ul {
    list-style: none;
    padding-inline-start: 0px;
}

li {
    float: left;
    padding: 2px;
}

    li button {
        cursor: pointer;
    }

thead {
    background: #444444;
}

thead tr {
    background-color: #444444;
}

thead td {
    background-color: #444444;
}

thead div {
    font-weight: normal;
}

.worklistHeader {
    cursor:pointer;
    min-width:50px;
}

#headContent td tr{
    border: 0px;
}

#tblStudies td {
    border: 1px solid #333;
    color: #ccc;
}

#tblStudies th {
    border: 1px solid #333;
}

#tblStudies tr.cust-info td {
    background-color: #222;
}

#trStudiesHeader a {
    color: #ddd;
}

#trSeriesHeader a {
    color: white;
}

#trStudiesHeader tr td {
    border:hidden;
    padding-right:5px;
}

#trStudiesQuery input[type=text] {
    background-color: black;
    border: 1px solid #444;
    vertical-align: middle;
    width: 100%;
}

select {
    background-color: black;
    border: 1px solid #444;
    width: 100%;
}

#trStudiesQuery td:nth-child(n) {
    margin: 0px;
    padding: 1px;
    vertical-align: middle;
}

#tblStudies tbody tr:nth-child(2n + 1) {
    background-color: #181818;
}

/*#tblStudies tr:nth-child(1) { background-color: black; }

#tblStudies tr:nth-child(2) { background-color: black; }*/

#tblStudies tbody tr:hover {
    background-color: #555;
    color: #f90;
}

/*#tblStudies tr:nth-child(1):hover { background-color: black; }

#tblStudies tr:nth-child(2):hover {
    background-color: black;
    color: white;
}*/

#trStudiesQuery .dropdown {
    background-color: #555555;
    color: red;
}

    #trStudiesQuery .dropdown .btn {
        background-color: #555555;
        min-width: 70px;
        padding: 1px 6px;
    }

.loading-shade {
    align-items: center;
    background: rgba(0, 0, 0, 0.15);
    bottom: 0px;
    display: flex;
    justify-content: center;
    left: 0px;
    margin: auto;
    position: fixed;
    right: 0px;
    top: 0px;
    z-index: 1;
}

.shortcut-name-button {
    background-color: transparent;
    border: none;
    border-width: 0px;
    color: inherit;
    outline: none;
}

.shortcut-name-button:disabled {
    color: #555555;
}

.patientIdCol {
    cursor: pointer;
    text-decoration: underline;
}

