<div class="container-fluid">
    <div class="row imageOperate-div">
        <table>
            <tr>
                <td *ngFor="let toolbarButton of toolbarButtonList">
                    <app-dropdown-button-menu-button *ngIf="toolbarButton.buttonType === 0" [buttonData]="toolbarButton.buttonData" [isTopButton]="true" [showArrow]="false"></app-dropdown-button-menu-button>
                    <app-dropdown-button-menu *ngIf="toolbarButton.buttonType === 1" [menuButtonList]="toolbarButton.buttonData" ></app-dropdown-button-menu>
                    <img *ngIf="toolbarButton.buttonType === 2" [src]="getButtonDivideSrc()" style="margin-top: -24px" />
                </td>
            </tr>
        </table>
    </div>
</div>