<div class="container-fluid">
  <div class="row">
    <div class="div-shortcut-header">
      <i class="glyphicon glyphicon-hdd"></i>
      <button class="shortcut-name-button">Local Data Source</button>
      <button class="pull-right glyphicon glyphicon-refresh div-shortcut-header-button"></button>
    </div>
  </div>
  <div class="row">
    <div class="div-shortcut-item">
      <i class="glyphicon glyphicon-list-alt"></i>
      <button class="shortcut-name-button" (click)="onQueryAllStudies()">All</button>
    </div>
  </div>
  <div class="row">
    <div class="div-shortcut-item">
      <i class="glyphicon glyphicon-star-empty"></i>
      <button class="shortcut-name-button" (click)="onQueryTodayStudy()">Today</button>
    </div>
  </div>
  <div *ngFor="let shortcut of allShortcuts" class="row">
    <div class="div-shortcut-item">
      <i class="glyphicon glyphicon-search"></i>
      <button class="shortcut-name-button" (click)="onQuery(shortcut)">{{shortcut.name}}</button>
      <button class="pull-right glyphicon glyphicon-remove div-shortcut-close-button" (click)="onDeleteShortcut(shortcut)"></button>
    </div>
  </div>
  <div class="row">
    <div class="div-shortcut-header">
      <i class="glyphicon glyphicon-cloud"></i>
      <button class="shortcut-name-button">Third-Party Pacs</button>
    </div>
  </div>
</div>
