.loadImage, .loadKeyImage, .setRead, .setUnread, .changeImageSeriesOrder, .reassign, .transfer, .tagEdit, .deletePrevent, .deleteAllow, .delete, .import{
  width: 40px;
  height: 40px;
  border: none;
  outline: none;
}

.loadImage{
  background: url(../../../../img/button/LoadImage_40_40_All.png) no-repeat left top;
}

.loadImage:hover {
  background: url(../../../../img/button/LoadImage_40_40_All.png) no-repeat right top;
}

.loadImage:active {
  background: url(../../../../img/button/LoadImage_40_40_All.png) no-repeat left bottom;
}

.loadImage:disabled {
  background: url(../../../../img/button/LoadImage_40_40_All.png) no-repeat right bottom;
}

.loadKeyImage{
  background: url(../../../../img/button/loadKeyImage_40_40_All.png) no-repeat left top;
}

.loadKeyImage:hover {
  background: url(../../../../img/button/loadKeyImage_40_40_All.png) no-repeat right top;
}

.loadKeyImage:active {
  background: url(../../../../img/button/loadKeyImage_40_40_All.png) no-repeat left bottom;
}

.loadKeyImage:disabled {
  background: url(../../../../img/button/loadKeyImage_40_40_All.png) no-repeat right bottom;
}

.setRead{
  background: url(../../../../img/button/setRead_40_40_All.png) no-repeat left top;
}

.setRead:hover {
  background: url(../../../../img/button/setRead_40_40_All.png) no-repeat right top;
}

.setRead:active {
  background: url(../../../../img/button/setRead_40_40_All.png) no-repeat left bottom;
}

.setRead:disabled {
  background: url(../../../../img/button/setRead_40_40_All.png) no-repeat right bottom;
}

.setUnread{
  background: url(../../../../img/button/setUnread_40_40_All.png) no-repeat left top;
}

.setUnread:hover {
  background: url(../../../../img/button/setUnread_40_40_All.png) no-repeat right top;
}

.setUnread:active {
  background: url(../../../../img/button/setUnread_40_40_All.png) no-repeat left bottom;
}

.setUnread:disabled {
  background: url(../../../../img/button/setUnread_40_40_All.png) no-repeat right bottom;
}

.changeImageSeriesOrder{
  background: url(../../../../img/button/changeImageSeriesOrder_40_40_All.png) no-repeat left top;
}

.changeImageSeriesOrder:hover {
  background: url(../../../../img/button/changeImageSeriesOrder_40_40_All.png) no-repeat right top;
}

.changeImageSeriesOrder:active {
  background: url(../../../../img/button/changeImageSeriesOrder_40_40_All.png) no-repeat left bottom;
}

.changeImageSeriesOrder:disabled {
  background: url(../../../../img/button/changeImageSeriesOrder_40_40_All.png) no-repeat right bottom;
}

.reassign{
  background: url(../../../../img/button/reassign_40_40_All.png) no-repeat left top;
}

.reassign:hover {
  background: url(../../../../img/button/reassign_40_40_All.png) no-repeat right top;
}

.reassign:active {
  background: url(../../../../img/button/reassign_40_40_All.png) no-repeat left bottom;
}

.reassign:disabled {
  background: url(../../../../img/button/reassign_40_40_All.png) no-repeat right bottom;
}

.transfer{
  background: url(../../../../img/button/transferImage_40_40_All.png) no-repeat left top;
}

.transfer:hover {
  background: url(../../../../img/button/transferImage_40_40_All.png) no-repeat right top;
}

.transfer:active {
  background: url(../../../../img/button/transferImage_40_40_All.png) no-repeat left bottom;
}

.transfer:disabled {
  background: url(../../../../img/button/transferImage_40_40_All.png) no-repeat right bottom;
}

.tagEdit{
  background: url(../../../../img/button/tagEdit_40_40_All.png) no-repeat left top;
}

.tagEdit:hover {
  background: url(../../../../img/button/tagEdit_40_40_All.png) no-repeat right top;
}

.tagEdit:active {
  background: url(../../../../img/button/tagEdit_40_40_All.png) no-repeat left bottom;
}

.tagEdit:disabled {
  background: url(../../../../img/button/tagEdit_40_40_All.png) no-repeat right bottom;
}

.deletePrevent{
  background: url(../../../../img/button/deletePrevent_40_40_All.png) no-repeat left top;
}

.deletePrevent:hover {
  background: url(../../../../img/button/deletePrevent_40_40_All.png) no-repeat right top;
}

.deletePrevent:active {
  background: url(../../../../img/button/deletePrevent_40_40_All.png) no-repeat left bottom;
}

.deletePrevent:disabled {
  background: url(../../../../img/button/deletePrevent_40_40_All.png) no-repeat right bottom;
}

.deleteAllow{
  background: url(../../../../img/button/deleteAllow_40_40_All.png) no-repeat left top;
}

.deleteAllow:hover {
  background: url(../../../../img/button/deleteAllow_40_40_All.png) no-repeat right top;
}

.deleteAllow:active {
  background: url(../../../../img/button/deleteAllow_40_40_All.png) no-repeat left bottom;
}

.deleteAllow:disabled {
  background: url(../../../../img/button/deleteAllow_40_40_All.png) no-repeat right bottom;
}

.delete{
  background: url(../../../../img/button/delete_40_40_All.png) no-repeat left top;
}

.delete:hover {
  background: url(../../../../img/button/delete_40_40_All.png) no-repeat right top;
}

.delete:active {
  background: url(../../../../img/button/delete_40_40_All.png) no-repeat left bottom;
}

.delete:disabled {
  background: url(../../../../img/button/delete_40_40_All.png) no-repeat right bottom;
}

.import{
  background: url(../../../../img/button/import_40_40_All.png) no-repeat left top;
}

.import:hover {
  background: url(../../../../img/button/import_40_40_All.png) no-repeat right top;
}

.import:active {
  background: url(../../../../img/button/import_40_40_All.png) no-repeat left bottom;
}

.import:disabled {
  background: url(../../../../img/button/import_40_40_All.png) no-repeat right bottom;
}