<table>
  <tr>
    <td>
      <button class="loadImage" role="button" title="Load Image" (click)="onLoadImage()" [disabled]="disableLoadImageButton"></button>
    </td>
    <td>
      <button class="loadKeyImage" role="button" title="Load Key Image" (click)="onLoadKeyImage()"></button>
    </td>
    <td>
      <button class="setRead" role="button" title="Set Read" (click)="onSetRead()"></button>
    </td>
    <td>
      <button class="setUnread" role="button" title="Set Unread" (click)="onSetUnread()"></button>
    </td>
    <td>
      <button class="changeImageSeriesOrder" role="button" title="Change Image Series Order" (click)="onChangeImageSeriesOrder()"></button>
    </td>
    <td>
      <button class="reassign" role="button" title="Reassign" (click)="onReassign()"></button>
    </td>
    <td>
      <button class="transfer" role="button" title="Export/Transfer" (click)="onTransfer()"></button>
    </td>
    <td>
      <button class="tagEdit" role="button" title="Patient Edit" (click)="onTagEdit()"></button>
    </td>
    <td>
      <button class="deletePrevent" role="button" title="Prevent Delete Study" (click)="onDeletePrevent()"></button>
    </td>
    <td>
      <button class="deleteAllow" role="button" title="Allow Delete Study" (click)="onDeleteAllow()"></button>
    </td>
    <td>
      <button class="delete" role="button" title="Delete Study" (click)="onDelete()"></button>
    </td>
    <td>
      <button class="import" role="button" title="Import" (click)="onImport()"></button>
    </td>
  </tr>
</table>