li.dropdown.open {
    margin: -20px 0 0;
    width: 35px;
}

li.dropdown {
    margin: -20px 0 0;
    width: 35px;
}

.dropdown-button-menu {
    background-color: transparent;
    margin: -24px 0 0;
    min-width: 33px;
    padding-bottom: 0;
}

.dropdown-button-menu-button {
    background-color: transparent;
    border: none;
    height: 33px;
    outline: none;
    width: 33px;
}
