@import "../../../../../themes.less";

#body-content {
    width: 750px;
    min-height : 200px;
    max-height : 300px;
}

#multi-study-instance {
    width: 750px;
    max-height: 290px;
    overflow:auto;

    th {
        padding: 3px;
        border: 1px solid @border-color;
        min-width: 100px;
        background: @header-background-color;
    }

    td {
        padding: 3px;
        border: 1px solid @border-color;
        min-width: 100px;
        /*color: @container-background-color;*/
    }

    th, td:first-child {
        min-width: 20px;
    }

    tr:nth-child(odd){
      background-color: @odd-tr-color;
    }

    tr:nth-child(even){
      background-color: @background-color;
    }
}


#single-study-instance {
    width: 700px;
}   

.mat-dialog-title {
    border-bottom: 1px solid @underline-color;
    color: @underline-color;
    font-size: 15px;
    margin: -24px -24px 0px -24px;
    min-width: 200px;
    padding: 1px 10px;
}

.mat-dialog-content {
    color: @font-color;
    font-size: 15px;
    height: 800px;
    min-width: 650px;
    padding: 10px 10px;
}

.mat-dialog-actions { margin-right: -12px; }

.mat-form-field {
    width: 100%;
}

.mat-raised-button {
    background-color: @container-background-color;
    border: 1px solid #777;
    border-radius: 3px;
    color: @font-color;
    font-size: 13px;
    margin-left: 6px;
    padding: 1px;
    width: 100px;
}

.mat-raised-button:disabled:hover { color: @disable-color; }

.mat-raised-button:hover { color: @underline-color; }

.mat-dialog-actions { flex-direction: row-reverse; }

.matInput {
    caret-color: @underline-color;
    color: green;
}

.mat-input-element {
    width: 100%;
    caret-color: @underline-color;
}

table {

}

input {
    background: @background-color;
    caret-color:@underline-color;
    border: 1px solid @background-color;
}

input:focus{
    /*outline: none !important;*/
    border-bottom:1px solid @underline-color;
}

input:disabled{
    color: @disable-color;
}

/*::-webkit-inner-spin-button { display: none; }*/

select {
    background-color: @background-color;
    border: 1px solid @border-color;
    width: 100%;
}

#single-study-info {
    width: 300px;
}

#container {
    left:350px;
    display:flex;
    flex-wrap: wrap;
    width: 500px;
}

#human-license {
    width: 300px;
}

#icon-container {
    display:flex;
    border-bottom: 1px solid @border-color;
}

.pacs-icon { background: url(../../../../../assets/img/button/Transfer_60_40_All.png) no-repeat left top; }

.pacs-icon:hover { background: url(../../../../../assets/img/button/Transfer_60_40_All.png) no-repeat right top; }

.pacs-icon:active { background: url(../../../../../assets/img/button/Transfer_60_40_All.png) no-repeat left bottom; }

.pacs-icon:disabled { background: url(../../../../../assets/img/button/Transfer_60_40_All.png) no-repeat right bottom; }

.media-icon { background: url(../../../../../assets/img/button/Export_60_40_All.png) no-repeat left top; }

.media-icon:hover { background: url(../../../../../assets/img/button/Export_60_40_All.png) no-repeat right top; }

.media-icon:active { background: url(../../../../../assets/img/button/Export_60_40_All.png) no-repeat left bottom; }

.media-icon:disabled { background: url(../../../../../assets/img/button/Export_60_40_All.png) no-repeat right bottom; }

.icon-button {
    border:none;
    width:60px;
    height:40px;


}

.icon-button:focus {
    outline: none;
}

#export-format-area{
    display:flex;
    margin-top:20px;
}

#export-format-type {
    width:100px;
    margin-left: 100px;
}

#transfer-row {
    display:flex;
}

.td-image {
    padding-right: 5px;
}

.second-td {
    padding-left:50px;
}