<h1 mat-dialog-title
    cdkDrag
    cdkDragRootElement=".cdk-overlay-pane"
    cdkDragHandle>
    Export Study
</h1>
<mat-dialog-content>
    <div id="body-content">
        <div id="multi-study-instance" class="table-list-style" [hidden]="studyNumber==1">
            <table>
                <thead>
                    <tr>
                        <th id="checkbox-row">
                            <input type="checkbox" disabled="disabled" checked="checked"/>
                        </th>
                        <th>
                            Patient ID
                        </th>
                        <th>
                            Patient Name
                        </th>
                        <th>
                            Exam Type
                        </th>
                        <th>
                            Accession No
                        </th>
                        <th>
                            Study Date Time
                        </th>
                        <th>
                            Image Count
                        </th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let value of studies">
                        <td>
                            <input type="checkbox" disabled="disabled" checked="checked"/>
                        </td>
                        <td>{{value.patient.patientId}}</td>

                        <td>{{value.patient.patientName}}</td>

                        <td></td>

                        <td>{{value.accessionNo}}</td>

                        <td>{{value.studyDate}}</td>

                        <td>{{value.studyTime}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="single-study-instance" [hidden]="studyNumber!=1">
            <table id="single-study-table">
                <tr>
                    <td>
                        <table id="single-study-info">
                            <tr>
                                <td>Patient Name
                                </td>
                                <td>
                                    {{study.patient.patientName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Patient ID
                                </td>
                                <td>
                                    {{study.patient.patientId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Accession Number
                                </td>
                                <td>
                                    {{study.accessionNo}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Study Date
                                </td>
                                <td>
                                    {{study.studyDate}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    Study Time
                                </td>
                                <td>
                                    {{study.patient.studyTime}}
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td id="image-container">
                        <div *ngFor="let image of imageList">
                            <table>
                                <tr>
                                    <td class="td-image">
                                        <app-thumbnail [image]="image" [isExportStudy]="true" (click)="appThumbnailClicked()"></app-thumbnail>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" (click)="checkAllImages()" [checked]="isCheckedAllModel"/>
                                Check All
                            </label>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <mat-divider></mat-divider><br>
    <div id="transfer-content">
        <div id="icon-container">
            <button id="pacs-button" class="pacs-icon icon-button" (click)="onPacsIconClick()"></button>
            <button id="media-button" class="media-icon icon-button" (click)="onMediaIconClick()"></button>
        </div>
        <div id="tab-mask-content">
            <div id="pacs-tab" [hidden]="!isShowPacs">
                <div class="table-list-style">
                    <table id="pacs-table">
                        <tr>
                            <th>

                            </th>
                            <th>
                                Desctination
                            </th>
                            <th>
                                AE Title
                            </th>
                            <th>
                                IP Address
                            </th>
                            <th>
                                Storage Commitment
                            </th>
                        </tr>
                        <tr *ngFor="let pacs of pacsList">
                            <td>
                                <input type="checkbox" [(ngModel)]="pacs.pacsChecked" (change)="onPacsCheckChanged()"/>
                            </td>
                            <td>
                                {{pacs.netAEName}}
                            </td>
                            <td>
                                {{pacs.aETitle}}
                            </td>
                            <td>
                                {{pacs.iPAddress}}
                            </td>
                            <td>
                                {{pacs.storageCommitment}}
                            </td>
                        </tr>
                    </table>
                </div>
                <table>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="isCompression"/>
                                    Compression
                                </label>
                            </div>
                        </td>
                        <td class="second-td">
                            <select [(ngModel)]="selectedTransferCompress" [disabled]="!isCompression">
                                <option *ngFor="let compress of transferCompressList | keyvalue" [ngValue]="compress.key">
                                    {{compress.value}}
                                </option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" [(ngModel)]="isCreateNewGuid" />
                                    Create New GUID
                                </label>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
            <div id="media-tab" [hidden]="isShowPacs">
                <div id="export-format-area">
                    <div>
                        Export Format :
                    </div>
                    <select id="export-format-type" [(ngModel)]="selectedExportType">
                        <option value="DICOM">
                            DICOM
                        </option>
                        <option value="JPEG">
                            JPEG
                        </option>
                        <option value="PDF">
                            PDF
                        </option>
                    </select>
                </div>
                <div>
                    <table>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" [checked]="isRemovePatientInfo"/>
                                        Remove Patient Info
                                    </label>
                                </div>
                            </td>
                            <td class="second-td">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" [checked]="isRemoveInstitutionName"/>
                                        Remove Institution Name
                                    </label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" [checked]="isIncludeCdViewer" />
                                        Include CD Viewer
                                    </label>
                                </div>
                            </td>
                            <td class="second-td">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" [checked]="isIncludeCdBurningTool"/>
                                        Include CD Burning Tool
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button" (click)="onCancelClick()">
        <i class="glyphicon glyphicon-remove-circle" style="padding-right: 8px"></i>Cancel
    </button>
    <button class="mat-raised-button" (click)="onOkClick()" [disabled]="isNoCheckedImage || (isNoCheckedPacs && isShowPacs)">
        <i class="glyphicon glyphicon-ok-circle" style="padding-right: 8px"></i>Ok
    </button>
</mat-dialog-actions>
